 p{
            font-family: Roboto, Arial;
            margin-top: 0px;
            margin-bottom: 0px;
        }
body {
  margin: 0;
  padding-top: 80px;
  background-color: rgb(250, 250, 250);
  font-family: Roboto, Arial;
  padding-left: 88px;
    padding-right: 22px;
}
.video-options:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
    box-shadow: 0px 0px 3px 8px rgba(171, 162, 162, 0.25);
  transition: 0.4s ease-in-out;
  border-radius: 7px;
}