.side-bar {
    background-color: green;
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
}
.sidebar-link {
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar-link:hover {
    background-color:rgb(237, 237, 237);
    cursor: pointer;
}
.side-bar img {
    height: 24px;
}
.side-bar div{
    font-size: 10px;
    font-family: Roboto,Arial;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}