
    .nani_1{
        width: 100%;
        border-radius: 7px; 
        
    }
    .naani{
        display: block;
    }
    .channel{
        
        width: 50px;
        height: 50px;
        vertical-align: top;
       
    }
    .channel_logo{
       width: 40px;
        border-radius: 50px;
    }
    .text{
        margin-top: 0px;
        font-size: 14px;
        line-height: 20px;
         font-family: Roboto, Arial;
    }
    .nani_1{
        margin-bottom: 8px; 
    }
    .video-stats,
    .video-channel{
        font-size: 13px;
        color: rgb(96, 96, 96);
      margin-bottom: 0px;
        margin-top: 3px;    
    }
    .video-info{
        display: grid;
        grid-template-columns: 50px 1fr;
    }
    .video-grid{
        display: grid;
        grid-template-columns: 1fr ;
        column-gap: 20px;
        row-gap: 40px;
    }
    @media (min-width: 500px) and (max-width: 780px){
        .video-grid{
            grid-template-columns: 1fr 1fr;
        }
    }
    @media (min-width: 780px) and (max-width: 1100px){
        .video-grid{
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    @media (min-width: 1100px){
        .video-grid{
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
